/*All pseudo-class explanations only appear with the first instance of that pseudo-class*/

nav
{
    background-color: rgb(170, 240, 195);
    text-align: center;
    padding: 1%;
    margin: -.4% -.4% .5%;
}

div
{
    background-color: rgb(230, 170, 220);
}

a
{
    background-color: rgb(165, 165, 165);
    padding: 3px;
}

p
{
    text-align: center;
}


a:hover /*Only occurs when the mouse is over the <a>*/
{
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
}

li:nth-child(odd) /*Selects every odd <li>*/
{
    background-color: rgb(127, 127, 127);
}


.container
{
    background-color: rgb(185, 200, 225);
    height: 225px;
    width: 1250px;

    margin: .5% 0%;

    display: flex; /*Sets as a flex container*/

    /*Direction flex items are displayed*/
    /*flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;*/

    /*Determines side-to-side position of flex items*/
    /*justify-content: center;*/
    justify-content: flex-end;
    /*justify-content: space-around;
    justify-content: space-between;*/

    /*Determines top-to-bottom position of flex items*/
    /*align-items: center;
    align-items: flex-start;*/
    align-items: flex-end;
    /*align-items: baseline;*/
}

.container > div:not(#box) /*All <div> elements except #box*/
{
    height: 100px;
    margin: 15px 5px;

    flex: 1; /*How much space the item takes up compared to the other flex items*/
    transition: .2s; /*Amount of time it takes to transition*/
}

.container:not(#second) > div:hover
{
    background-color: rgb(115, 85, 110);
    color: rgb(255, 255, 255);

    flex: 2;
    transition: .2s;
}

.container:not(#second) > div:active /*Only occurs when the <div> is clicked*/
{
    background-color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 110%;
    transition: 0s;
}

#second
{
    height: 400px;
    width: 100%;

    justify-content: center;
    align-items: center;
}

#second > div
{
    height: 200px;
    width: 200px;
}

div:first-child /*Selects every <div> that is the first child of its parent*/
{
    border: solid rgb(110, 20, 230) 2px;
    border-radius: 10px;
}

#one
{
    order: 3; /*Specifies what order to display the item*/
}

#two
{
    order: 2;
}

#three
{
    order: 5;
}

#four
{
    order: 1;
}

#five
{
    order: 4;
}